/* сброс стилей
----------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a:hover,
a {
  color: inherit;
  text-decoration: inherit;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */
html {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
  font: 14px Arial;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 945px;
  height: auto !important;
  height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 105px;
  width: 960px;
  margin: 23px 0 18px;
  position: relative;
}
header div {
  display: inline-block;
  background-color: #777777;
  height: 105px;
  color: #979797;
}
header .hd {
  position: relative;
  left: 0;
  width: 120px;
}
header .hd-1 {
  position: absolute;
  width: 280px;
  left: 145px;
}
header .hd-2 {
  float: right;
  width: 510px;
}
hr {
  color: #777777;
  margin: 0;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  min-height: 770px;
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;
}
.content:after {
  display: table;
  clear: both;
  content: '';
}
/* .cont-left
-----------------------------------------------------------------------------*/
.cont-left {
  display: inline-block;
  width: 185px;
  max-height: 770px;
  margin-right: 20px;
}
.list {
  min-height: 335px;
  max-height: 640px;
  background-color: #777777;
  overflow: auto;
}
.list ul {
  color: white;
  padding: 0 15px;
  line-height: 22px;
}
.img img {
  width: 185px;
  height: 130px;
  position: absolute;
  bottom: 0px;
  background-color: #777777;
  color: #979797;
}
/* .cont-rihgt
-----------------------------------------------------------------------------*/
.cont-rihgt {
  float: right;
  width: 755px;
  min-height: 770px;
}
.rule {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #DCDCDC;
}
.cont-rihgt ul {
  list-style-type: square;
  padding: 20px 45px;
  line-height: 22px;
  margin-bottom: 10px;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.pictures img {
  width: 131px;
  height: 145px;
  background-color: #DCDCDC;
  margin: 0 0 25px 25px;
  color: white;
}
.pictures img:nth-child(5n+1) {
  margin-left: 0;
}
.box {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box-1 {
  width: 365px;
  height: 200px;
  padding: 0;
  background-color: #DCDCDC;
  margin-right: 21px;
}
.box-2 {
  width: 365px;
  min-height: 200px;
  background-color: #DCDCDC;
  line-height: 22px;
  font-size: 14px;
}
.box-2 p {
  padding: 15px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin: 17px auto;
  max-height: 180px;
}
.ft {
  width: 300px;
  height: 180px;
  background: #777777;
}
.li ul {
  display: inline-block;
  list-style-position: inside;
  column-count: 2;
  color: white;
  line-height: 22px;
  width: 230px;
  padding: 17px 0 0 25px;
}
.b ul {
  color: white;
  line-height: 22px;
  list-style-type: square;
  width: 230px;
  padding: 17px 0 0 40px;
}
.right {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right div {
  background: #777777;
  width: 100%;
  height: 75px;
}
button {
  background: transparent;
  outline: none;
  border: none;
  height: 22px;
  cursor: pointer;
}
.add {
  color: #7EE12A;
  font-size: 20px;
  margin-left: 10px;
  border-right: 1px solid #DCDCDC;
}
.dell {
  color: #FF00AE;
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */